$basic-green: #68b738;
$basic-gray: #f2f2f2;
$basic-black: #000000;
$basic-white: #ffffff;

$special-green-dark: #5eaa2f;
$special-gray-light: #cdcdcd;
$special-gray-middle: #666666;
$special-gray-dark: #444444;
$special-gray-dark-2: #222222;

$add-gray: #111111;
$add-gray-dark: #ebebeb;
$add-gray-light: #e6e6e6;
$add-gray-line: #d9d9d9;
$background-gray: #eaeaea;

$toggle-bar: #dcdcdc;
